{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}


<head>
    <title>Full Secondary Column, 1/2 x 1/2 Main Column.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" >
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" >
    </head>
    <body>
    <div id="doc" class="yui-t7">
      <div id="hd">
        <div id="header"><h1><a>FitMind</a></h1></div>
      </div>
      <div id="bd">
        <div id="yui-main">
          <div class="yui-b">
            <div class="yui-g">
              <div class="yui-u first">
                <div class="content">Content Here</div>
              </div>
              <div class="yui-u">
                <div class="content">Content Here</div>
              </div>
            </div>
          </div>
        </div>
        <div class="yui-b">
          <div id="secondary">Secondary Column</div>
        </div>
      </div>
      <div id="ft">
        <div id="footer">Footer</div>
      </div>
    </div>
    </body>

{% endblock %}
