{% extends "base.html" %} {% block title %}Your Mind Athletes{% endblock %} {% block content
%}
<br />
<h1 align="center">Your Mind Athletes</h1>

<br />


<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="background-color:#274af892; text-align:center; color:white" scope="col">Sentiment Analysis</th>
            <th scope="col" style="background-color:rgba(54, 187, 227, 0.776); color:white; text-align:center;width:540px"  >Email</th>
          </tr>
          
        </thead>
        <tbody>

          {% for index,user in userdf.iterrows() %} 
          <form method="POST">  
            <tr>
            
             
                <td style="text-align:center">

                  <button style="-align:center;background-color:#274af83d; border:none;" type="submit" class="btn btn-primary" name="userbutton" value="{{user['id']}}">{{ user['name'] }}</button> 
              
                </td>   
         
                <th scope="row" style="text-align:center">
                  {{ user['email'] }}
                </th>
              

            </tr>

              


          </form>
          {% endfor %} 
        </tbody>
      </table>
    </div>
  </div>
</div>










{% endblock %}
